.Header {
  height: 40%;
  width: 100%;
}


h1 {
  background: rgba(255, 255, 255, 0.3);
  font-family: 'Bungee Shade', cursive;
  font-size: 25px;
  width: 90%;
  height: 50px;
  padding: 60px;
  text-align: center;
}

.round-buttons {
  color: black;
  height: 40px;
  width: 42px;
  border-radius: 50%;
  border-style: none;
  text-align: center;
  font-size: 8px;
  margin-left: 15px;
  background: rgb(192, 192, 192);
}

button:hover {
  background: rgb(255, 255, 255);
}

.rando-joke {
  top: 55%;
  left: 0;
  right: 0;
  text-align: center;
  border: 1px dotted white;
  padding: 10px;
  margin-left: 5%;
  margin-right: 5%;
}

.settings-btn {
  color: black;
  height: 40px;
  width: 42px;
  border-radius: 50%;
  border-style: none;
  text-align: center;
  font-size: 8px;
  margin-left: 15px;
  background: rgb(192, 192, 192);
}
