$mainFont: 'Karla', sans-serif;

body {
  background: rgb(29, 53, 63);
  color: white;
  font-family: $mainFont;
}

h2 {
  height: 42px;
  border: 1px dotted white;
  font-family: $mainFont;
  font-size: 12px;
  text-align: center;
  padding-top: 19px;
}

ul {
  height: 40%;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

li {
  list-style-type: none;
  flex: 1;
  min-width: 40vw;
  max-width: 50vw;
  height: 21%;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-right: 1%;
  padding-left: 1%;
  background: rgba(0, 0, 0, 0.2);
  text-align: center;
  margin: 10px 5px;
  font-family: $mainFont;
  font-size: 13px;
  display: inline-block;

}

input {
  height: 38px;
  width: 30px;
  border-radius: 5px;
  border: none;
  font-family: $mainFont;
  font-size: 20px;
  text-align: center;
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}



.button-input {
  display: -webkit-inline-box;
  margin-left: 42%;
  margin-bottom: -20px;
}

.get-jokes {
  height: 40px;
  width: 140px;
  border-radius: 5px;
  font-family: "Karla", sans-serif;
  text-align: center;
  border: none;
  margin-right: 4px;
  margin-bottom: 30px;
}

.get-favorites {
  color: black;
  height: 40px;
  width: 100px;
  border-radius: 5px;
  border-style: none;
  font-family: "Karla", sans-serif;
  text-align: center;
  background: rgb(192, 192, 192);
}

.fave-div {
  display: -webkit-inline-box;
  margin-left: 45%;
}

.jokes-btn {
  height: 40px;
  width: 140px;
  border-radius: 5px;
  text-align: center;
  border: none;
  margin-right: 4px;
  margin-bottom: 30px;
  background: rgb(192, 192, 192);
}

.favorite {
  height: 20px;
  width: 40px;
  border-radius: 5px;
  text-align: center;
  border: none;
  background: rgb(192, 192, 192);
  margin-left: 80%;
  margin-top: 7px;
}

.first {
  height: 40px;
  width: 150px;
  margin-right: 3px;
  margin-left: 36%;
}

.last {
  height: 40px;
  width: 150px;
}

.set-btn {
  margin-top: 10px;
  margin-left: 44%;
  margin-bottom: 0;
}
