$mainFont: 'Karla', sans-serif;

body {
  background: rgb(29, 53, 63);
  color: white;
  font-family: $mainFont;
}

.get-jokes {
  height: 40px;
  width: 140px;
  border-radius: 10px;
}

ul {
  height: 40%;
  position: absolute;
  bottom: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

li {
  list-style-type: none;
  background: rgba(0, 0, 0, 0.2);
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px 5px;
  font-family: $mainFont;
  font-size: 13px;
  display: inline-block;
}
