$headerFontStyle: 'Bungee Shade', cursive;
$bodyFontStyle: 'Karla', sans-serif;
$bodyBGColor: #fafafa;

@mixin buttonStyles {
  &:hover {
        cursor: pointer;
        background-color: rgb(255, 255, 255);
    }
  margin: 1vw;
  width: 23vw;
  height: 5vh;
  border-radius: 5px;
  border-style: none;
}

@mixin inputStyles {
  margin: 1vw;
  width: 50%;
  height: 5vh;
  border-radius: 5px;
}
